:host {
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    z-index: 400;
    display: flex;
    position: fixed;
    pointer-events: none;
}

.ngx-notifications-list {
    width: 100%;
    display: block;
    position: relative;
}

.ngx-notifications-item {
    margin: 0;
    padding: 0;
    pointer-events: all;
}